    * {
        margin: 0;
        padding: 0;
        /* for navber contend front start */
        font-family: 'Poppins', sans-serif;
        /* for navber contend front end */
    }
    
    .header {
        min-height: 100vh;
        width: 100%;
        background-image: linear-gradient(rgba(4, 9, 30, 0.7), rgb(4, 9, 30, 0.7)), url(image/Bacground.png);
        background-position: center;
        background-size: cover;
        position: relative;
    }
    
    nav {
        display: flex;
        padding: 2%, 6%;
        justify-content: space-between;
        align-items: center;
    }
    
    nav img {
        width: 85px;
    }
    
    .nav-links ul li {
        list-style: none;
        display: inline-block;
        padding: 8px 12px;
        position: relative;
    }
    
    .nav-links ul li a {
        color: rgb(255, 255, 255);
        text-decoration: none;
        font-size: 14 px;
    }
    /* navber content margin when mouse cursur point a option  animation */
    
    .nav-links ul li::after {
        content: '';
        width: 0%;
        height: 2px;
        background-color: rgb(101, 202, 7);
        display: block;
        margin: auto;
        transition: 0.5s;
    }
    /* main code for popup animation */
    
    .nav-links ul li:hover::after {
        width: 100%;
    }
    /* main code for popup animation end */
    /* navber content margin when mouse cursur point a option  animation end */
    /* change positin and coloring text file */
    
    .text-box {
        width: 90%;
        color: aliceblue;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
    }
    
    .text-box h1 {
        font-size: 62;
    }
    
    .text-box p {
        margin: 10px 0 40px;
        font-size: 14px;
        color: aliceblue;
    }
    /* visit button customise start */
    
    .visit-btn {
        display: inline-block;
        text-decoration: none;
        color: aliceblue;
        border: 1px solid #fff;
        padding: 12px 34px;
        font-size: 13px;
        background: transparent;
        position: relative;
    }
    
    .visit-btn:hover {
        border: 1px solid rgb(17, 36, 240);
        background: rgba(4, 233, 237, 0.829);
        transition: 1s;
    }

    .btn-danger{
        display: inline-block;
        text-decoration: none;
        color: aliceblue;
        border: 1px solid #fff;
        padding: 12px 34px;
        font-size: 13px;
        background: transparent;
        position: relative;
    }
    
    .btn-danger:hover {
        border: 1px solid rgb(76, 17, 240);
        background: rgba(13, 169, 241, 0.829);
        transition: 1s;
    }
    /* visit button customise end */
    /* for responsive in small device */
    /* hide menubar and close icon for large display */
    
    nav .fa {
        display: none;
    }
    /* hide icon for large display end */
    
    @media(max-width: 700px) {
        .text-box h1 {
            font-size: 20px;
        }
        .nav-links ul li {
            display: block;
        }
        .nav-links {
            position: absolute;
            background: rgba(13, 169, 241, 0.829);
            height: 100vh;
            width: 200px;
            top: 0;
            right: -200px;
            text-align: left;
            z-index: 2;
            transition: 1s;
        }
        /* Show menu bar and close boostrap icon in small display */
        nav .fa {
            display: block;
            color: #fff;
            margin: 10px;
            font-size: 22px;
            cursor: pointer;
        }
        /* Show menu bar and close boostrap icon in small display end */
        /* nav ber content padding for small device  */
        .nav-links ul {
            padding: 30px;
        }
        /* nav ber content padding for small device end  */
    }
    /* course for spacing website start */
    /* for resize text start */
    
    .doctor {
        width: 80%;
        margin: auto;
        text-align: center;
        padding-top: 100px;
    }
    /* for resize text end */
    /* design front for h1 tag */
    
    h1 {
        font-size: 36px;
        font-weight: 600;
    }
    /* design front for h1 tag end */
    /* design front for p tag */
    
    p {
        font-size: 14px;
        font-weight: 300;
        line-height: 22px;
        color: #777;
        padding: 10;
    }
    /* design front for p tag end */
    /* digine row class below in the web site start */
    
    .row {
        margin-top: 5%;
        display: flex;
        justify-content: space-between;
    }
    /* digine row class below in the web site end */
    /* degine app-col class start */
    
    .app-col {
        flex-basis: 31%;
        background: #23e6dc41;
        border-radius: 10px;
        margin-bottom: 5%;
        padding: 20px 12px;
        box-sizing: border-box;
        transition: 0.5s;
    }
    /* degine app-col class end */
    /* degine on h3 tag start */
    
    h3 {
        text-align: center;
        font-weight: 600;
        margin: 10px 0;
    }
    /* degine on h3 tag end */
    /* degine box animation start */
    
    .app-col:hover {
        box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2);
    }
    /* degine box animation end */
    /* responsive box for small device start */
    
    @media(max-width: 700px) {
        .row {
            flex-direction: column;
        }
    }
    /* responsive box for small device start */
    /* degine facality start */
    
    .facality {
        width: 80%;
        margin: auto;
        text-align: center;
        padding-top: 100px;
    }
    /* degine facality start */
    /* degine facality-col star */
    
    .facality-col {
        flex-basis: 31%;
        border-radius: 10px;
        margin-bottom: 5%;
        text-align: left;
    }
    /* degine facality-col star */
    /* degine facality col image start */
    
    .facality-col img {
        width: 100%;
        border-radius: 10px;
    }
    /* degine facality col image end */
    /* degine facality col p tag */
    
    .facality-col p {
        padding: 0;
    }
    /* degine facality col p tag end */
    /* degine facality col h3 tag */
    
    .facality-col h3 {
        margin-top: 16px;
        margin-bottom: 15px;
        text-align: left;
    }
    /* degine facality col h3 tag end */
    /* design cta class mean coutact us template */
    
    .cta {
        margin: 10% auto;
        width: 80%;
        background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(image/coutractus.jpeg);
        background-position: center;
        background-size: cover;
        border-radius: 10px;
        text-align: center;
        padding: 100px 0;
    }
    /* design cta class mean coutact us template end */
    /* design cta h1 template start */
    
    .cta h1 {
        color: #fff;
        margin-bottom: 40px;
        padding: 0;
    }
    /* design cta h1 template end */
    /* responsive text size for small divice for contruct us template start */
    
    @media(max-width: 700px) {
        .cta h1 {
            font-size: 24px;
        }
    }
    /* responsive text size for small divice for contruct us template start */
    /* design footer start */
    
    .footer {
        width: 100%;
        text-align: center;
        padding: 30px 0;
    }
    /* design footer emd*/
    /* design footer h4 tag start */
    
    .footer {
        margin-bottom: 25px;
        margin-top: 20px;
        font-weight: 600;
    }
    /* design footer h4 tag end */